body{
    width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #F0F0F0;
}
header{
    display: flex;
    justify-content: space-between;
    
}
.logo{
    margin-left: 68px;
    padding-top: 18px;
    width: 119px;
    height: 23px;
    color: #000000;
    font-family: Inconsolata;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 6px;
}
ul{
    display: flex;
    align-items: center;
}
li{
padding: 50px;
list-style: none;
padding-top: 9px;
padding-bottom: 5px;
width: 71px;
height: 11px;
color: #626262;
font-family: "Playfair Display";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
}
.conteiner{
    width: 1062px;
    height: 957px;
    margin-left: auto;
    margin-right: auto;
}
.content_box{
    margin-top: 99px;
    width: 893px;
    height: 286px;
    margin-left: auto;
    margin-right: auto;
}
.diary_link{
    width: 85px;
    height: 11px;
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
h1{
    margin-top: 28px;
    width: 397px;
    height: 30px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 400;
}
.content{
    margin-top: 34px;
    width: 893px;
height: 183px;
color: #626262;
font-family: "Playfair Display";
font-size: 14px;
font-weight: 400;
line-height: 24px;
}
.comment{
    margin-top: 52px;
height: 11px;
color: #b4ad9e;
font-family: Ubuntu;
font-size: 14px;
font-weight: 300;
text-transform: uppercase;
}

/*Rows*/
.content_rows{
    margin-top: 135px;
    width: 899px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.row1{
    display: flex;
    justify-content: space-between;
    width: 899px;
    height: 478px;
    margin-left: auto;
    margin-right: auto;
}
.row_item{
    width: 419px;
    height: auto;
}
h2{
    color: #626262;
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 400;
}
.text{
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.row2{
    margin-top: 132px;
    display: flex;
    justify-content: space-between;
    width: 899px;
    height: 478px;
    margin-left: auto;
    margin-right: auto;
}
.news_letter{
    width: 1201px;
    height: 287px;
    margin-top: 122px;
    background-color: #f0f0f0;
}
.news_header{
    color: #333333;
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.75px;
    text-align: center;
    padding-top: 73px;
}
.forma{
    text-align: center;
}
.field{
    width: 399px;
    border: none;
    outline: none;
    font-family: Ubuntu;
    text-transform: uppercase;
    background-color: #F0F0F0;
    color: #b4ad9e;
}
.button{
    width: 100px;
    border-radius: 3px;
    background-color: #BFB8AE;
    font-family: Ubuntu;
    text-transform: uppercase;
}
input[type="email"]{
    border-bottom: 1px solid black;
    width: 30%;  
}
input[type="submit"]{
    border: 1px solid #DDDDDE;
    cursor: pointer;
}
.row3{
    margin-top: 103px;
    display: flex;
    justify-content: space-between;
    width: 899px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    width: 164px;
    height: 60px;
    margin-top: 165px;
    margin-left: auto;
    margin-right: auto;
}
.load_btn{
    width: 164px;
    height: 60px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    background-color: white;
    border: 1px solid black;
}
.load_btn:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #A5A39F;
    border: 1px solid black;
    color: whitesmoke;
}
footer{
    width: 1201px;
    height: 200px;
    margin-top: 122px;
    background-color: #f0f0f0;
}
.nav_item_list{
    display: flex;
    justify-content: space-around;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
}
a {
   text-decoration: none;
   padding: 0px;
}
.nav_item{
    margin-top: 70px;
}
.item_link:focus,
.item_link:hover{
    transform: scale(1,5);
    color:black;
}
.item_link{
    font-style: italic;
    color: #b4ad9e;
}
.copyright-content{
    text-align: center;
    margin-top: 35px;
   color:#A5A39F;
}
i {
    font-size: 25px;
    padding: 5px;
}
i:hover{
    color: black;
}